$breakpoint-xs: 450px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

$color-primary: #f59736;
$color-secondary: #3e5f8a;
$color-secondary-dark: #283d59;
