@import '../../css/utils/index.scss';

.container {
    position: fixed;
    left: 0;
    top: 260px;
    transform-origin: top left;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 100;

    @include is-screen-max($breakpoint-sm) {
        display: none;
    }

    .button {
        padding: 7px 24px;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
