@import '../../../css/utils/index.scss';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 16px;

    @include is-screen-max($breakpoint-sm) {
        margin-top: 20px;
        gap: 4px;
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            background-color: #ffffff;
            font-size: 18px;
            line-height: 100%;
            color: $color-secondary-dark;
            transition: background-color 0.3s, color 0.3s;

            @include is-screen-max($breakpoint-sm) {
                width: 24px;
                height: 24px;
                font-size: 14px;
            }

            &.isActive {
                background-color: $color-secondary-dark;
                color: #ffffff;
            }

            &.isMiddle {
                background-color: transparent;
            }

            &[href] {
                &:hover {
                    @include is-screen-min($breakpoint-sm) {
                        background-color: $color-secondary-dark;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.4;
        transition: opacity 0.3s, transform 0.3s;

        @include is-screen-max($breakpoint-sm) {
            width: 24px;
            height: 24px;
        }

        img {
            width: 14px;

            @include is-screen-max($breakpoint-sm) {
                width: 10px;
            }
        }

        &[href] {
            opacity: 1;

            &:hover {
                @include is-screen-min($breakpoint-sm) {
                    transform: scale(1.2);
                }
            }
        }

        &.arrowNext {
            img {
                transform: scaleX(-1);
            }
        }
    }
}
